In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!ls

data.csv  sample_data

In [ ]:
df = pd.read_csv('data.csv')
df.head()

   recency  history  used_discount  ...  channel            offer  conversion
0       10   142.44              1  ...    Phone  Buy One Get One           0
1        6   329.08              1  ...      Web         No Offer           0
2        7   180.65              0  ...      Web  Buy One Get One           0
3        9   675.83              1  ...      Web         Discount           0
4        2    45.34              1  ...      Web  Buy One Get One           0

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64000 entries, 0 to 63999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   recency        64000 non-null  int64
 1   history        64000 non-null  float64
 2   used_discount  64000 non-null  int64
 3   used_bogo      64000 non-null  int64
 4   zip_code       64000 non-null  object
 5   is_referral    64000 non-null  int64
 6   channel        64000 non-null  object
 7   offer          64000 non-null  object
 8   conversion     64000 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 4.4+ MB

In [ ]:
df.describe()

            recency       history  ...   is_referral    conversion
count  64000.000000  64000.000000  ...  64000.000000  64000.000000
mean       5.763734    242.085656  ...      0.502250      0.146781
std        3.507592    256.158608  ...      0.499999      0.353890
min        1.000000     29.990000  ...      0.000000      0.000000
25%        2.000000     64.660000  ...      0.000000      0.000000
50%        6.000000    158.110000  ...      1.000000      0.000000
75%        9.000000    325.657500  ...      1.000000      0.000000
max       12.000000   3345.930000  ...      1.000000      1.000000

[8 rows x 6 columns]

In [ ]:
df.columns

Index(['recency', 'history', 'used_discount', 'used_bogo', 'zip_code',
       'is_referral', 'channel', 'offer', 'conversion'],
      dtype='object')

In [ ]:
df.rename(columns={
    'recency':'months_from_last_purchase', 
    'history':'total_expense', 
    'used_discount':'used_discount_coupon', 
    'used_bogo':'used_1+1_coupon', 
    'zip_code':'user_house', 
    'is_referral':'came_from_referral_channel',
    'channel':'channel_customer_using',
    'offer':'coupon'
}, inplace=True)

In [ ]:
corr = df.corr()
plt.figure(figsize=(10,10))
sns.heatmap(corr, annot=True)

In [ ]:
df['conversion'].value_counts()

0    54606
1     9394
Name: conversion, dtype: int64

In [ ]:
df.columns

Index(['months_from_last_purchase', 'total_expense', 'used_discount_coupon',
       'used_1+1_coupon', 'user_house', 'came_from_referral_channel',
       'channel_customer_using', 'coupon', 'conversion'],
      dtype='object')

In [ ]:
df['coupon'].value_counts()

Buy One Get One    21387
Discount           21307
No Offer           21306
Name: coupon, dtype: int64

In [ ]:
df['channel_customer_using'].value_counts()

Web             28217
Phone           28021
Multichannel     7762
Name: channel_customer_using, dtype: int64

In [ ]:
df['months_from_last_purchase'].describe()

count    64000.000000
mean         5.763734
std          3.507592
min          1.000000
25%          2.000000
50%          6.000000
75%          9.000000
max         12.000000
Name: months_from_last_purchase, dtype: float64

In [ ]:
df['total_expense'].describe()

count    64000.000000
mean       242.085656
std        256.158608
min         29.990000
25%         64.660000
50%        158.110000
75%        325.657500
max       3345.930000
Name: total_expense, dtype: float64

In [ ]:
df.columns

Index(['months_from_last_purchase', 'total_expense', 'used_discount_coupon',
       'used_1+1_coupon', 'user_house', 'came_from_referral_channel',
       'channel_customer_using', 'coupon', 'conversion'],
      dtype='object')

In [ ]:
numeric_col = ['months_from_last_purchase', 'total_expense']
categorical_col = ['user_house', 'channel_customer_using', 'coupon']

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
df[numeric_col] = ss.fit_transform(df[numeric_col])

df.head()

   months_from_last_purchase  total_expense  ...           coupon  conversion
0                   1.207751      -0.389003  ...  Buy One Get One           0
1                   0.067359       0.339614  ...         No Offer           0
2                   0.352457      -0.239836  ...  Buy One Get One           0
3                   0.922653       1.693278  ...         Discount           0
4                  -1.073034      -0.768068  ...  Buy One Get One           0

[5 rows x 9 columns]

In [ ]:
encoded_col = pd.get_dummies(df[categorical_col])
encoded_col

       user_house_Rural  user_house_Surburban  ...  coupon_Discount  coupon_No Offer
0                     0                     1  ...                0                0
1                     1                     0  ...                0                1
2                     0                     1  ...                0                0
3                     1                     0  ...                1                0
4                     0                     0  ...                0                0
...                 ...                   ...  ...              ...              ...
63995                 0                     0  ...                1                0
63996                 0                     0  ...                1                0
63997                 0                     0  ...                1                0
63998                 0                     1  ...                0                0
63999                 0                     1  ...                1                0

[64000 rows x 9 columns]

In [ ]:
df = pd.concat([df, encoded_col], axis=1)
df = df.drop(categorical_col, axis=1)
df.head()

   months_from_last_purchase  total_expense  ...  coupon_Discount  coupon_No Offer
0                   1.207751      -0.389003  ...                0                0
1                   0.067359       0.339614  ...                0                1
2                   0.352457      -0.239836  ...                0                0
3                   0.922653       1.693278  ...                1                0
4                  -1.073034      -0.768068  ...                0                0

[5 rows x 15 columns]

In [ ]:
df.columns

Index(['months_from_last_purchase', 'total_expense', 'used_discount_coupon',
       'used_1+1_coupon', 'came_from_referral_channel', 'conversion',
       'user_house_Rural', 'user_house_Surburban', 'user_house_Urban',
       'channel_customer_using_Multichannel', 'channel_customer_using_Phone',
       'channel_customer_using_Web', 'coupon_Buy One Get One',
       'coupon_Discount', 'coupon_No Offer'],
      dtype='object')

In [ ]:
X = df[['months_from_last_purchase', 'total_expense', 'used_discount_coupon',
       'used_1+1_coupon', 'came_from_referral_channel', 
       'user_house_Rural', 'user_house_Surburban', 'user_house_Urban',
       'channel_customer_using_Multichannel', 'channel_customer_using_Phone',
       'channel_customer_using_Web', 'coupon_Buy One Get One',
       'coupon_Discount', 'coupon_No Offer']]

y = df['conversion']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=13)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=13)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=13)

In [ ]:
pred = rf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy_score(y_test, pred)

0.792625

In [ ]:
confusion_matrix(y_test, pred)

array([[12362,  1290],
       [ 2028,   320]])

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.86      0.91      0.88     13652
           1       0.20      0.14      0.16      2348

    accuracy                           0.79     16000
   macro avg       0.53      0.52      0.52     16000
weighted avg       0.76      0.79      0.78     16000

---

In [ ]:
rf.feature_importances_

array([0.12987827, 0.78791229, 0.01261306, 0.01098562, 0.01309133,
       0.00579263, 0.00508001, 0.00521848, 0.00371451, 0.00474013,
       0.00486057, 0.00399605, 0.00559537, 0.00652166])

In [ ]:
X_train.columns

Index(['months_from_last_purchase', 'total_expense', 'used_discount_coupon',
       'used_1+1_coupon', 'came_from_referral_channel', 'user_house_Rural',
       'user_house_Surburban', 'user_house_Urban',
       'channel_customer_using_Multichannel', 'channel_customer_using_Phone',
       'channel_customer_using_Web', 'coupon_Buy One Get One',
       'coupon_Discount', 'coupon_No Offer'],
      dtype='object')

In [ ]:
feature_importance = pd.DataFrame({
    'feature': X_train.columns,
    'importance': rf.feature_importances_
})

feature_importance.sort_values(by='importance', ascending=False)

                                feature  importance
1                         total_expense    0.787912
0             months_from_last_purchase    0.129878
4            came_from_referral_channel    0.013091
2                  used_discount_coupon    0.012613
3                       used_1+1_coupon    0.010986
13                      coupon_No Offer    0.006522
5                      user_house_Rural    0.005793
12                      coupon_Discount    0.005595
7                      user_house_Urban    0.005218
6                  user_house_Surburban    0.005080
10           channel_customer_using_Web    0.004861
9          channel_customer_using_Phone    0.004740
11               coupon_Buy One Get One    0.003996
8   channel_customer_using_Multichannel    0.003715

- 우리 회사 제품을 오랫동안 구입해온 충성고객들의 전환율이 높음
- 최근에 구매한 고객보다는 오래 전에 구매한 고객의 전환율이 높음 => 제품 가격이 높아서 교체 주기가 길다는 것을 암시
- 추천 채널에서 유입된 고객의 전환율이 높음
- 쿠폰의 영향력은 크지 않은 편이지만, 할인 쿠폰과 1+1쿠폰이 전환율에 영향을 미침
- 고객의 거주지 위치, 채널(웹/폰/다중채널)의 종류는 전환율에 큰 영향을 주지 않음